<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'restfulusers_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'restfulusers_app/css/main.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Edit user page</h1>
        {% for message in messages %}
        <p class="error">{{ message }}</p>
        {% endfor %}
        <form action="/users/update" class="edit" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ user.id }}">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">

            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control" value="{{ user.email }}">
            <div class="text-right">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
        </form>
        <form action="/users/{{ user.id }}">
            {% csrf_token %}
            <input type="submit" value="Show" class="btn btn-success">
        </form>
        <form action="/users">
            {% csrf_token %}
            <input type="submit" value="Go Back" class="btn btn-secondary">
        </form>
    </div>    
</body>
</html>