<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'restfulusers_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'restfulusers_app/css/main.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Add a new user</h1>
        <form action="/users/create" class="edit" method="POST">
            {% csrf_token %}
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control">

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control">

            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control">
            <div class="text-right">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
        <form action="/users">
            {% csrf_token %}
            <input type="submit" value="Go Back" class="btn btn-secondary">
        </form>
    </div>    
</body>
</html>