<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'restfulusers_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'restfulusers_app/css/main.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>User {{ user.id }}</h1>
        <p>Full Name: <span>{{ user.first_name }} {{ user.last_name }}</span></p>
        <p>Email: <span>{{ user.email }}</span></p>
        <p>Created at: <span>{{ user.created_at }}</span></p>
        <form action="/users/{{ user.id }}/edit">
            {% csrf_token %}
            <input type="submit" value="Edit" class="btn btn-warning">
        </form>
        <form action="/users/{{ user.id }}/destroy">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        <form action="/users/go_back" method="POST">
            {% csrf_token %}
            <input type="submit" value="Go Back" class="btn btn-secondary">
        </form>
    </div>    
</body>
</html>